.div_success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.div_success .message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.div_success .message h1 {
    margin: 0;
}
.div_success p {
    margin-top: 10px;
}